div.mkm_header {
	background-color: rgb(237, 97, 72);
	text-align: center;
}

div.mkm_header img {
	width: 200px;
}

/* Helper Classes */

.text-center { text-align: center; }
.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
 }