div.mkm_header {
  /* Positioning */
  /* Box-model */
  padding-top: 20px;
  padding-bottom: 20px;
  /* Typography */
  text-align: center;
  /* Visual */
  background-color: #fcff00;
  /* Misc */
}

div.mkm_header img {
	width: 100px;
}

/* Helper Classes */

.pull-left {
  float: left;
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
 }

