div.mkm_header {
  /* Positioning */
  /* Box-model */
  padding: 20px;
  /* Typography */
  text-align: left;
  font-family: "nimbus-sans", sans-serif;
  color: #fff;
  /* Visual */
  background-color: #111;
  /* Misc */
}

div.mkm_header h1 {
  /* Positioning */
  /* Box-model */
  padding-top: 10px;
  /* Typography */
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* Visual */
  /* Misc */
}

div.mkm_header img {
	width: 100px;
}

/* Helper Classes */

.pull-left {
  float: left;
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
 }

